[submodule "evmone"]
	path = evmone
	url = https://github.com/torquem-ch/evmone.git
	branch = extcodesize
[submodule "secp256k1"]
	path = secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "abseil-cpp"]
	path = abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
