[submodule "evmone"]
	path = evmone
	url = https://github.com/torquem-ch/evmone.git
	branch = state_reuse
[submodule "secp256k1"]
	path = secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "libff"]
	path = libff
	url = https://github.com/torquem-ch/libff.git
	branch = win
