#   Copyright 2020-2022 The Silkworm Authors
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

version: 2.1

commands:
  checkout_with_submodules:
    steps:
      - checkout
      - run:
          name: "Update submodules"
          command: |
            git submodule sync
            git submodule update --init --recursive

  format:
    steps:
      - run:
          name: "Format"
          working_directory: ~/project
          command: |
            # the base image contains these packages preinstalled, this command merely verifies that
            sudo apt-get install -y --no-install-recommends python3-pip
            pip install --user --break-system-packages cmake-format==0.6.13
            export "PATH=$HOME/.local/bin:$PATH"
            make fmt
            if ! git diff --exit-code
            then
              echo "The formatting style is not compliant. Try to run: 'make fmt' locally and push the changes"
              exit 1
            fi
      - run:
          name: "Copyright"
          working_directory: ~/project
          command: cmake -P cmake/copyright.cmake

  build:
    parameters:
      conan_profile:
        type: string
        default: none
    steps:
      - run:
          name: "Install dependencies"
          command: |
            # the base image contains these packages preinstalled, this command merely verifies that
            sudo apt-get install -y m4 texinfo bison
      - run:
          name: "Cmake"
          working_directory: ~/build
          command: |
            if [[ "<<parameters.conan_profile>>" != "none" ]]
            then
                CONAN_CMAKE_ARGS="-DCONAN_PACKAGE_MANAGER=ON -DCONAN_PROFILE=<<parameters.conan_profile>>"
            fi

            cmake ../project -DCMAKE_TOOLCHAIN_FILE=$HOME/project/cmake/toolchain/$TOOLCHAIN.cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE $CONAN_CMAKE_ARGS $BUILD_CMAKE_ARGS
      - run:
          name: "Build"
          command: cmake --build ~/build -j4 # each compiler job requires 4GB of RAM

  # libc++ is an alternative standard library needed for coroutines support on Clang
  # https://libcxx.llvm.org
  install_libcxx:
    steps:
      - run:
          name: "Install libc++"
          command: |
            # the base image contains these packages preinstalled, this command merely verifies that
            sudo apt -y install libc++-$CLANG_VERSION-dev libc++abi-$CLANG_VERSION-dev

  build_using_hunter:
    steps:
      - restore_cache:
          name: "Restore Hunter cache"
          key: &hunter-cache-key hunter-{{ .Environment.CIRCLE_JOB }}-{{checksum "cmake/Hunter/config.cmake"}}-{{checksum "cmake/toolchain/base.cmake"}}-{{checksum "cmake/toolchain/cxx20.cmake"}}-{{checksum "cmake/toolchain/clang_libcxx.cmake"}}
      - build
      - save_cache:
          name: "Save Hunter cache"
          key: *hunter-cache-key
          paths:
            - ~/.hunter

  build_using_conan:
    parameters:
      profile:
        type: string
        default: linux_gcc_11_release
    steps:
      - run:
          name: "Install Conan"
          command: |
            # the base image contains these packages preinstalled, this command merely verifies that
            sudo apt-get install -y --no-install-recommends python3-pip
            pip install --user conan==1.58.0 chardet
            echo 'export "PATH=$HOME/.local/bin:$PATH"' >> "$BASH_ENV"
      - restore_cache:
          name: "Restore Conan cache"
          key: &conan-cache-key conan-{{ .Environment.CIRCLE_JOB }}-{{checksum "cmake/profiles/<<parameters.profile>>"}}-{{checksum "conanfile.txt"}}
      - build:
          conan_profile: <<parameters.profile>>
      - save_cache:
          name: "Save Conan cache"
          key: *conan-cache-key
          paths:
            - ~/.conan

  test:
    steps:
      - run:
          name: "Core unit tests"
          working_directory: ~/build
          command: |
            ulimit -s unlimited
            cmd/test/core_test
      - run:
          name: "Infra unit tests"
          working_directory: ~/build
          command: cmd/test/infra_test
      - run:
          name: "Node unit tests"
          working_directory: ~/build
          command: cmd/test/node_test
      - run:
          name: "RpcDaemon unit tests"
          working_directory: ~/build
          command: cmd/test/rpcdaemon_test
      - run:
          name: "Sentry unit tests"
          working_directory: ~/build
          command: cmd/test/sentry_test
      - run:
          name: "Sync unit tests"
          working_directory: ~/build
          command: cmd/test/sync_test
      - run:
          name: "Ethereum EL tests"
          working_directory: ~/build
          no_output_timeout: 30m
          command: cmd/test/ethereum

jobs:
  linux-gcc-11-thread-sanitizer:
    environment:
      TOOLCHAIN: cxx20
      BUILD_TYPE: Debug
      BUILD_CMAKE_ARGS: -DSILKWORM_SANITIZE=thread
    machine:
      image: ubuntu-2204:2023.04.2
    resource_class: xlarge
    steps:
      - checkout_with_submodules
      - build_using_conan
      - test

  linux-gcc-11-conan:
    environment:
      TOOLCHAIN: cxx20
      BUILD_TYPE: Debug
    docker:
      - image: ethereum/cpp-build-env:20-gcc-11
    resource_class: xlarge
    steps:
      - checkout_with_submodules
      - build_using_conan
      - test

  linux-gcc-12-release:
    environment:
      TOOLCHAIN: cxx20
      BUILD_TYPE: Release
    docker:
      - image: ethereum/cpp-build-env:20-gcc-12
    resource_class: xlarge
    steps:
      - checkout_with_submodules
      - build_using_conan
      - test

  linux-clang-15-address-sanitizer:
    environment:
      TOOLCHAIN: clang_libcxx
      CLANG_VERSION: 15
      BUILD_TYPE: Debug
      BUILD_CMAKE_ARGS: -DSILKWORM_SANITIZE=address,undefined
    docker:
      - image: ethereum/cpp-build-env:20-clang-15
    resource_class: xlarge
    steps:
      - checkout_with_submodules
      - install_libcxx
      - build_using_hunter
      - test

  linux-clang-13-coverage:
    environment:
      TOOLCHAIN: clang_libcxx
      CLANG_VERSION: 13
      BUILD_TYPE: Debug
      BUILD_CMAKE_ARGS: -DSILKWORM_CLANG_COVERAGE=ON
    docker:
      - image: ethereum/cpp-build-env:20-clang-13
    resource_class: xlarge
    steps:
      - checkout_with_submodules
      - format
      - install_libcxx
      - build_using_hunter
      - run:
          name: "Core unit tests"
          working_directory: ~/build
          command: |
            cmd/test/core_test
            mv default.profraw core_test.profraw
      - run:
          name: "Node unit tests"
          working_directory: ~/build
          command: |
            cmd/test/node_test
            mv default.profraw node_test.profraw
      - run:
          name: "Ethereum EL tests"
          working_directory: ~/build
          no_output_timeout: 30m
          command: |
            cmd/test/ethereum
            mv default.profraw ethereum.profraw
      - run:
          name: "Coverage"
          working_directory: ~/build
          command: |
            llvm-profdata merge *.profraw -o profdata
            llvm-cov export -instr-profile profdata -format=lcov cmd/test/node_test -object cmd/test/ethereum > silkworm.lcov
      - run:
          name: "Upload to Codecov"
          command: |
            # the base image contains these packages preinstalled, this command merely verifies that
            sudo apt-get install -y --no-install-recommends python3-pip
            pip install --user --upgrade --no-cache-dir --break-system-packages codecov
            codecov="$HOME/.local/bin/codecov"

            counter=1
            until "$codecov" --required --file ~/build/silkworm.lcov -X gcov || [ $counter = 5 ]; do
              counter=$((counter+1))
              sleep 1
              echo "Try #$counter..."
            done

  linux-wasm-build:
    environment:
      WASI_SDK_VERSION: 14
    machine:
      image: ubuntu-2204:2023.04.2
    steps:
      - checkout_with_submodules
      - run:
          name: "Install WASI SDK"
          working_directory: ~/tmp1
          command: |
            wget https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-$WASI_SDK_VERSION/wasi-sdk-$WASI_SDK_VERSION.0-linux.tar.gz
            tar xvf wasi-sdk-$WASI_SDK_VERSION.0-linux.tar.gz
            sudo mv wasi-sdk-$WASI_SDK_VERSION.0 /opt/wasi-sdk
      - run:
          name: "Install dependencies"
          command: |
            sudo apt-get update
            sudo apt-get install -y texinfo libtinfo5
      - run:
          name: "Install Wasmer"
          working_directory: ~/tmp2
          command: $HOME/project/third_party/wasmer/install.sh v3.2.1
      - run:
          name: "Build GMP"
          working_directory: ~/tmp3
          command: |
            git clone https://github.com/torquem-ch/gmp-wasm
            cd gmp-wasm
            ./configure --prefix $HOME/opt-wasm CC=/opt/wasi-sdk/bin/clang --host=none AR=llvm-ar RANLIB=llvm-ranlib --enable-cxx CXX=/opt/wasi-sdk/bin/clang++ ABI=longlong
            make -j
            make install
      - run:
          name: "Cmake"
          working_directory: ~/build
          command: |
            cmake ../project -DCMAKE_TOOLCHAIN_FILE=$HOME/project/cmake/toolchain/wasi.cmake -DSILKWORM_CORE_ONLY=ON -DSILKWORM_CORE_USE_ABSEIL=OFF -DSILKWORM_WASM_API=ON -DGMP_INCLUDE_DIR=$HOME/opt-wasm/include -DGMP_LIBRARY=$HOME/opt-wasm/lib/libgmp.a -DCMAKE_BUILD_TYPE=Release
      - run:
          name: "Build"
          command: cmake --build ~/build -j
      - run:
          name: "Core unit tests"
          working_directory: ~/build
          command: wasmer cmd/test/core_test --stack-size 16777216

  linux-default-build:
    docker:
      - image: ethereum/cpp-build-env:20-gcc-12
    resource_class: xlarge
    steps:
      - checkout_with_submodules
      - run:
          name: "Install dependencies"
          command: |
            # the base image contains these packages preinstalled, this command merely verifies that
            sudo apt-get install -y m4 texinfo bison
      - restore_cache:
          name: "Restore Hunter cache"
          key: &cache-key hunter-{{ .Environment.CIRCLE_JOB }}-{{checksum "cmake/Hunter/config.cmake"}}-{{checksum "cmake/toolchain/base.cmake"}}-{{checksum "cmake/toolchain/cxx20.cmake"}}
      - run:
          name: "Cmake"
          working_directory: ~/build
          command: cmake ../project
      - save_cache:
          name: "Save Hunter cache"
          key: *cache-key
          paths:
            - ~/.hunter
      - run:
          name: "Build"
          working_directory: ~/build
          command: make -j4 # each compiler job requires 4GB of RAM
      - test

workflows:
  version: 2
  silkworm:
    jobs:
      - linux-gcc-12-release
      - linux-gcc-11-conan
      - linux-gcc-11-thread-sanitizer
      - linux-clang-13-coverage
      - linux-clang-15-address-sanitizer
      - linux-wasm-build
      - linux-default-build
