#   Copyright 2020 The Silkworm Authors
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

version: 2.1

commands:
  checkout_with_submodules:
    steps:
      - checkout
      - run:
          name: "Update submodules"
          command: |
            git submodule sync
            git submodule update --init --recursive

  build:
    steps:
      - run:
          name: "Install GMP"
          command: |
            sudo apt-get update
            sudo apt-get install -y libgmp3-dev
      - restore_cache:
          name: "Restore Hunter cache"
          key: &hunter-cache-key hunter-{{ .Environment.CIRCLE_JOB }}-{{checksum "cmake/toolchain.cmake"}}-{{checksum "cmake/Hunter/config.cmake"}}-{{checksum "cmake/Hunter/core_packages.cmake"}}-{{checksum "cmake/Hunter/extra_packages.cmake"}}
      - run:
          name: "Cmake"
          working_directory: ~/build
          command: cmake ../project -DCMAKE_BUILD_TYPE=$BUILD_TYPE
      - save_cache:
          name: "Save Hunter cache"
          key: *hunter-cache-key
          paths:
            - ~/.hunter
      - run:
          name: "Build"
          command: cmake --build ~/build -j

  test:
    steps:
      - run:
          name: "Core unit tests"
          working_directory: ~/build
          command: cmd/core_test
      - run:
          name: "DB unit tests"
          working_directory: ~/build
          command: cmd/db_test
      - run:
          name: "Ethereum consensus tests"
          working_directory: ~/build
          command: cmd/consensus

jobs:
  linux-gcc-7:
    environment:
      BUILD_TYPE: Debug
    docker:
      - image: ethereum/cpp-build-env:12-gcc-7
    steps:
      - checkout_with_submodules
      - build
      - test

  linux-clang-coverage:
    environment:
      BUILD_TYPE: Debug
    docker:
      - image: ethereum/cpp-build-env:14-clang-10
    steps:
      - checkout_with_submodules
      - build
      - run:
          name: "Core unit tests"
          working_directory: ~/build
          command: |
            cmd/core_test
            mv default.profraw core_test.profraw
      - run:
          name: "DB unit tests"
          working_directory: ~/build
          command: |
            cmd/db_test
            mv default.profraw db_test.profraw
      - run:
          name: "Ethereum consensus tests"
          working_directory: ~/build
          command: |
            cmd/consensus
            mv default.profraw consensus.profraw
      - run:
          name: "Coverage"
          working_directory: ~/build
          command: |
            llvm-profdata merge *.profraw -o profdata
            llvm-cov export -instr-profile profdata -format=lcov cmd/db_test -object cmd/consensus > silkworm.lcov
      - run:
          name: "Upload to Codecov"
          command: |
            sudo pip3 install --upgrade --quiet --no-cache-dir codecov

            counter=1
            until codecov --required --file ~/build/silkworm.lcov -X gcov || [ $counter = 5 ]; do
              counter=$((counter+1))
              sleep 1
              echo "Try #$counter..."
            done

  linux-wasm-build:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout_with_submodules
      - run:
          name: "Install WASI SDK"
          command: |
            wget https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-12/wasi-sdk-12.0-linux.tar.gz
            tar xvf wasi-sdk-12.0-linux.tar.gz
            sudo mv wasi-sdk-12.0 /opt/wasi-sdk
      - restore_cache:
          name: "Restore GMP cache"
          key: gmp-wasi
      - run:
          name: "Build GMP"
          command: |
            git clone https://github.com/torquem-ch/gmp-wasm
            cd gmp-wasm
            ./configure --prefix $HOME/opt-wasm CC=/opt/wasi-sdk/bin/clang --host=none --enable-cxx CXX=/opt/wasi-sdk/bin/clang++ ABI=longlong
            make -j
            make install
      - save_cache:
          name: "Save GMP cache"
          key: gmp-wasi
          paths:
            - ~/opt-was

workflows:
  version: 2
  silkworm:
    jobs:
      - linux-gcc-7
      - linux-clang-coverage
      - linux-wasm-build
