#   Copyright 2023 The Silkworm Authors
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

name: Windows

on:
  push:
    branches:
      - master
      - 'ci/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  windows:
    runs-on: windows-latest

    # Disable on external PRs
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository

    strategy:
      matrix:
        config:
          - {build_type: "Release"}
      fail-fast: false # This makes it so that if 1 of the tests in the matrix fail, they don't all fail

    steps:

    - name: Install Conan
      run: |
        Invoke-WebRequest -Uri https://github.com/conan-io/conan/releases/download/1.58.0/conan-win-64.exe -OutFile conan-win-64.exe
        .\conan-win-64.exe /SP- /VERYSILENT /SUPPRESSMSGBOXES /LOG="conan-setup.log"
        type conan-setup.log

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory C:\build

    - name: Configure CMake
      working-directory: C:\build
      run: cmake ${{runner.workspace}}\silkworm -DCMAKE_BUILD_TYPE=${{ matrix.config.build_type }}

    - name: Build silkworm
      working-directory: C:\build
      # Skip silkworm to avoid fatal error C1002: compiler is out of heap space in pass 2
      # run: cmake --build . --config ${{ matrix.config.build_type }} --target silkworm -j 2
      run: echo "Skip silkworm build to avoid fatal error C1002 compiler is out of heap space in pass 2"

    - name: Build core_test
      working-directory: C:\build
      run: cmake --build . --config ${{ matrix.config.build_type }} --target core_test -j 2

    - name: Build infra_test
      working-directory: C:\build
      run: cmake --build . --config ${{ matrix.config.build_type }} --target infra_test -j 2

    - name: Build node_test
      working-directory: C:\build
      run: cmake --build . --config ${{ matrix.config.build_type }} --target node_test -j 2

    - name: Build rpcdaemon_test
      working-directory: C:\build
      # Skip rpcdaemon_test to avoid fatal error C1002: compiler is out of heap space in pass 2
      # run: cmake --build . --config ${{ matrix.config.build_type }} --target rpcdaemon_test -j 2
      run: echo "Skip rpcdaemon_test build to avoid fatal error C1002 compiler is out of heap space in pass 2"

    - name: Build sentry_test
      working-directory: C:\build
      run: cmake --build . --config ${{ matrix.config.build_type }} --target sentry_test -j 2

    - name: Build sync_test
      working-directory: C:\build
      run: cmake --build . --config ${{ matrix.config.build_type }} --target sync_test -j 2

    - name: Build Ethereum EL tests
      working-directory: C:\build
      run: cmake --build . --config ${{ matrix.config.build_type }} --target ethereum -j 2

    - name: Test
      working-directory: C:\build
      run: |
        cmd/test/${{ matrix.config.build_type }}/core_test
        cmd/test/${{ matrix.config.build_type }}/infra_test
        cmd/test/${{ matrix.config.build_type }}/node_test
        cmd/test/${{ matrix.config.build_type }}/sentry_test
        cmd/test/${{ matrix.config.build_type }}/sync_test
        cmd/test/${{ matrix.config.build_type }}/ethereum --threads 4
